.scrollable {
	@include plumber-set-defaults(
		$font-size: 1,
		$baseline: $body-baseline,
		$grid-height: $gh
	);
	// H1
	.h1, h1 {

		@include plumber(
			$font-size: 8.4,
			$line-height: 10,
			$leading-top: 8,
			$leading-bottom: 2,
			$baseline: $header-baseline
		);

		// SIZE VARIANTS
		&.small {
			@include plumber(
				$font-size: 6.4,
				$line-height: 6,
				$leading-top: 4,
				$leading-bottom: 2,
				$baseline: $header-baseline
			);
		}
		&.large {
			@include plumber(
				$font-size: 9.6,
				$line-height: 10,
				$leading-top: 8,
				$leading-bottom: 4,
				$baseline: $header-baseline
			);
		}
		&.huge {
			@include plumber(
				$font-size: 12,
				$line-height: 15,
				$leading-top: 10,
				$leading-bottom: 4,
				$baseline: $header-baseline
			);
		}

	}

	// H2
	.h2, h2 {

		@include plumber(
			$font-size: 5,
			$line-height: 6,
			$leading-top: 4,
			$leading-bottom: 1,
			$baseline: $header-baseline
		);

		// SIZE VARIANTS
		&.small {
			@include plumber(
				$font-size: 5.6,
				$line-height: 6,
				$leading-top: 4,
				$leading-bottom: 0,
				$baseline: $header-baseline
			);
		}
		&.large {
			@include plumber(
				$font-size: 8.8,
				$line-height: 9,
				$leading-top: 6,
				$leading-bottom: 2,
				$baseline: $header-baseline
			);
		}
		&.huge {
			@include plumber(
				$font-size: 11.2,
				$line-height: 12,
				$leading-top: 8,
				$leading-bottom: 2,
				$baseline: $header-baseline
			);
		}

	}

	// H3
	.h3, h3 {

		@include plumber(
			$font-size: 6.4,
			$line-height: 8,
			$leading-top: 4,
			$leading-bottom: 0,
			$baseline: $header-baseline
		);

		// SIZE VARIANTS
		&.small {
			@include plumber(
				$font-size: 4.8,
				$line-height: 6,
				$leading-top: 2,
				$leading-bottom: 0,
				$baseline: $header-baseline
			);
		}
		&.large {
			@include plumber(
				$font-size: 8,
				$line-height: 10,
				$leading-top: 4,
				$leading-bottom: 1,
				$baseline: $header-baseline
			);
		}
		&.huge {
			@include plumber(
				$font-size: 9.6,
				$line-height: 10,
				$leading-top: 6,
				$leading-bottom: 2,
				$baseline: $header-baseline
			);
		}

	}

	// H4
	.h4, h4 {
		@include plumber(
			$font-size: 5.2,
			$line-height: 6,
			$leading-top: 4,
			$leading-bottom: 0,
			$baseline: $header-baseline
		);
	}

	// H5
	.h5, h5 {
		@include plumber(
			$font-size: 4.4,
			$line-height: 6,
			$leading-top: 4,
			$leading-bottom: 0,
			$baseline: $header-baseline
		);
	}

	// H6
	.h6, h6 {
		@include plumber(
			$font-size: 3.6,
			$line-height: 4,
			$leading-top: 4,
			$leading-bottom: 0,
			$baseline: $header-baseline
		);

	}


	// P
	p, .p, .p:not(.hero)+p, p:not(.hero)+p {

		@include plumber(
			$font-size: 3.5,
			$line-height: 5,
			$leading-top: 0,
			$leading-bottom: 2,
			$baseline: $body-baseline
		);
		text-rendering: optimizeLegibility;

		// SIZE VARIANTS
		&.micro {
			@include plumber(
				$font-size: 2.6,
				$line-height: 4,
				$leading-top: 2,
				$leading-bottom: 0,
				$baseline: $body-baseline
			);
		}
		&.small {
			@include plumber(
				$font-size: 3,
				$line-height: 4,
				$leading-top: 2,
				$leading-bottom: 0,
				$baseline: $body-baseline
			);
		}
		&.hero {

			@include plumber(
				$font-size: 5,
				$line-height: 6,
				$leading-top: 2,
				$leading-bottom: 4,
				$baseline: $body-baseline
			);
			font-weight: $light;
			letter-spacing: -0.16rem;
		}

	}
}