.about {
	.content {
		overflow: scroll;
	}

	.container .wrap {
		&:not(.noSpaces),
		&.spaceWrap,
		& .spaceWrap {
			padding-bottom: calc(5.56% + 50px);
		}
	}

	.box-70 {
		overflow: hidden;
		.thumbnail-70 {
			& > * {
				@extend .wide;
			}
		}

		.info-70 {
			p:nth-child(1) {
				@extend .category-70;
				margin-top: 0;
			}

			h3:nth:child(2) {
				@extend .big;
				@extend .title-70;
			}

			p:nth-child(3) {
				@extend .small;
				@extend .equalElement;
				margin-bottom: 1em !important;
			}

			p:nth-child(4) {
				@extend .button;
				@extend .wide;
				@extend .crop;

				color: #000;
				background: none;
				border: 1px solid #000;

			}
		}

		&:hover {
			.info-70 p:nth-child(4) {
				box-shadow: 0 0px 0 rgba(0, 0, 0, 0.075), 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
			}
		}
	}

	.address {
		.box-70 {
			max-width: initial;
			@media (max-width: 1023px) {
				max-width: 400px;
			}

			text-align: initial;

			.info-70 {
				padding: 40px 30px 10px;

				@media (max-width: 1023px) {
					padding: 40px 30px 30px;
				}
			}


		}

		.thumbnail-70 {
			padding-bottom: 0;
			position: relative;

			img {
				max-width: initial;
				position: absolute;
				right: 0;
				z-index: 0;
				height: fit-content;
				width: auto;

				@media (max-width: 1023px) {
					right: -550px;
				}
			}
		}

		.info-70 {

		}


		letter-spacing: initial;
	}

	ul {
		li:nth-child(1) {
			.box-70, .box-70:hover,
			.info-70 p:nth-child(4), .info-70 p:nth-child(4):hover { background-color: #ADB5FF !important; }
		}
		li:nth-child(2) {
			.box-70, .box-70:hover,
			.info-70 p:nth-child(4), .info-70 p:nth-child(4):hover { background-color: #FFF3C8 !important; }
		}
		li:nth-child(3) {
			.box-70, .box-70:hover,
			.info-70 p:nth-child(4), .info-70 p:nth-child(4):hover { background-color: #C5F8FF !important; }
		}
		li:nth-child(4) {
			.box-70, .box-70:hover,
			.info-70 p:nth-child(4), .info-70 p:nth-child(4):hover { background-color: #CBF0CF !important; }
		}
	}
}

body:not(.scroll) .about {
	.container .wrap {
		&:not(.noSpaces),
		&.spaceWrap,
		& .spaceWrap {
			padding-bottom: 10px;
		}
	}
}