.notator-intro {
	.ae-2 {
		display: block;
		margin: 1em auto 2em;
	}

	.post-content {
		h1 {
			margin-top: 1em;
		}
	}

	.content {
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,777777+100 */
		// background-color: #000000; /* Old browsers */
		// background: linear-gradient(to bottom,  #000000 0%,#777777 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#777777',GradientType=0 ); /* IE6-9 */

	}
}

.scrollable {
	.notator-intro {
		.container .wrap:not(.noSpaces), .container .wrap.spaceWrap, .container .wrap .spaceWrap {
			padding-top: calc(15% + 50px);
		}
	}
}