<!-- generics -->{{ "/assets/js/plugins.js" | relative_url }}
<link rel="icon" href={{ "/assets/img/favicon/favicon-32.png" | relative_url }} sizes="32x32">
<link rel="icon" href={{ "/assets/img/favicon/favicon-57.png" | relative_url }} sizes="57x57">
<link rel="icon" href={{ "/assets/img/favicon/favicon-76.png" | relative_url }} sizes="76x76">
<link rel="icon" href={{ "/assets/img/favicon/favicon-96.png" | relative_url }} sizes="96x96">
<link rel="icon" href={{ "/assets/img/favicon/favicon-128.png" | relative_url }} sizes="128x128">
<link rel="icon" href={{ "/assets/img/favicon/favicon-192.png" | relative_url }} sizes="192x192">
<link rel="icon" href={{ "/assets/img/favicon/favicon-228.png" | relative_url }} sizes="228x228">

<!-- Android -->
<link rel="shortcut icon" sizes="196x196" href={{ "/assets/img/favicon/favicon-196.png" | relative_url }}>

<!-- iOS -->
<link rel="apple-touch-icon" href={{ "/assets/img/favicon/favicon-120.png" | relative_url }} sizes="120x120">
<link rel="apple-touch-icon" href={{ "/assets/img/favicon/favicon-152.png" | relative_url }} sizes="152x152">
<link rel="apple-touch-icon" href={{ "/assets/img/favicon/favicon-180.png" | relative_url }} sizes="180x180">