<!-- Panel Top #14 -->
<nav class="panel top forceMobileView">
	<div class="sections desktop">
		<div class="left">
			<a class="home" href="/#home" title="Brand Name">
				<img src="/assets/svg/logo-horizontal2.svg" style="width:368.71px;height:31px" />
			</a>
		</div>
		<div class="right">
			<ul class="menu uppercase">
				<li><a href="/#about">About</a></li>
				<li><a href="/ios-developer/">Careers</a></li>
				<li><a href="/faq/">Help</a></li>
			</ul>
			<a class="button menuButton round uppercase" href="{{ site.mailto-contact}}">Contact us</a>
		</div>
	</div>
	<div class="sections compact hidden">
		<div class="left">
			<a class="home" href="/#home" title="Brand Name">
				<img src="/assets/svg/logo-horizontal.svg" style="width:345.65px;height:31px" />
			</a>
		</div>
		<div class="right">
			<span class="button actionButton sidebarTrigger" data-sidebar-id="1">
				<svg>
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
				</svg>
			</span>
		</div>
	</div>
</nav>

<!-- Sidebar -->
<nav class="sidebar" data-sidebar-id="1">
	<div class="close">
		<svg>
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
		</svg>
	</div>
	<div class="content">
		<a href="/#home" title="Brand Name" class="logo">
			<img src="/assets/svg/logo-stacked.svg" style="width:168.96;height:46.50px" />
		</a>
		<ul class="mainMenu uppercase">
			<li><a href="/#about">About</a></li>
			<li><a href="/ios-developer/">Careers</a></li>
			<li><a href="/faq/">Help</a></li>
			<li><a href="{{ site.mailto-contact}}">Contact us</a></li>
		</ul>
		<ul class="subMenu">
			<li><a href="/privacy-policy/">Privacy and Policy</a></li>
		</ul>
		<ul class="social">
			<li>
				<a href="#">
					<svg>
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
					</svg>
				</a>
			</li>
			<li>
				<a href="#">
					<svg>
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>
</nav>