{% assign category = site.categories.homepage %}
{% assign post = category[0] %}

<section class="slide fade kenBurns">
	<div class="content">
		<div class="container">
			<div class="wrap">

				<div class="fix-12-12">
					{{ post.content }}
				</div>

			</div>
		</div>
	</div>
	{% for image in site.static_files %}
		{% if image.path contains 'img/homepage/slide5/bg' %}
	<div class="background" style="background-image:url({{ site.baseurl }}{{ image.path }})"></div>
		{% endif %}
	{% endfor %}
</section>