{% for post in site.categories.homepage %}
{% if post.title == "Notator Cloud Feature" %}

<section class="slide fade kenBurns">
	<div class="content">
		<div class="container">
			<div class="wrap">

				<div class="fix-12-12">
					<ul class="flex reverse">
						{{ post.content }}
						
						{% for image in site.static_files %}
							{% if image.path contains 'img/homepage/slide3/object' %}
						<li class="col-6-12 left ae-1 fromAbove">
							<img class="shiftImage shiftImageVertical image-73" src="{{ site.baseurl }}{{ image.path }}" data-action="zoom" alt="iPhone Image" />
						</li>
							{% endif %}
						{% endfor %}
					</ul>

					<ul class="grid later fixedSpaces equal center grid-73">
						<li class="col-4-12 ae-5">
							<a href="#" class="cell-73 equalElement">
								<i class="material-icons">cloud_circle</i>
								<h3>Cloud enabled</h3>
								<p class="small">Save Notator files to the cloud - if you choose to.</p>
							</a>
						</li>
						<li class="col-4-12 ae-6">
							<a href="#" class="cell-73 equalElement">
								<i class="material-icons">devices_other</i>
								<h3>Pickup progress</h3>
								<p class="small">You can resume working on another device.</p>
							</a>
						</li>
						<li class="col-4-12 ae-7">
							<a href="#" class="cell-73 equalElement last">
								<i class="material-icons">cloud_sync</i>
								<h3>Worry-free syncing</h3>
								<p class="small">Automatically syncs your most recent documents.</p>
							</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	{% for image in site.static_files %}
		{% if image.path contains 'img/homepage/slide3/bg' %}
	<div class="background" style="background-image:url({{ site.baseurl }}{{ image.path }})"></div>
		{% endif %}
	{% endfor %}
</section>
{% endif %}
{% endfor %}