body, html {
	background: #000;
}

// Global
@import 'custom/global-panel-top';
@import 'custom/global-sidebar';
@import 'custom/global-side';
@import 'custom/global-typography-scrollable';


// Homepage
// Slide 1 : Intro
@import 'custom/homepage-notator-intro';

// Slide 2 : Features quick peek

// Slide 3 : Cloud Feature
@import 'custom/homepage-notator-cloud-feature';

// Slide 4 : About
@import 'custom/homepage-notator-about';


// FAQ page
@import 'custom/page-faq';


// Career Detail page
@import 'custom/page-career-detail';


// Privacy Policy page
@import 'custom/page-privacy-policy';