---
---
/*  
										   
   _____ _       _              _____  _____ _____ 
  / ___/| (•)   | |           / ____// ____/ ____/  v 3.1.2
 | (___ | |_  __| | ___ ____ | |    | (___| (___  
  \___ \| | |/ _` |/ _ / __/ | |     \___ \ ___ \ 
  ____) | | | (_| |  __\__ \ | |____ ____) |___) |
 /_____/|_|_|\__,_|\___/___/  \_____/_____/_____/                               
											
											
This file contains styles required for the proper functionality and display
of your Slides Project.

https://designmodo.com/slides/ 

*/

//CSS RESET
@import 'reset';

//MIXNIS
@import 'mixins';

//VARIABLES
@import 'variables';

//FRAMEWORK
@import 'framework';

//TYPOGRAPHY
@import 'typography';

//COLORS
@import 'colors';

//FLEX GRID
@import 'grid';

//FLEX GRID
@import 'flex';

//DIALOG WINDOW
@import 'dialog';

//SLIDES LAYOUT
@import 'layout';

//USEFUL CLASSES
@import 'useful-classes';

// $bg: #444;
// $text: #fff;



// body {
// 	color: $text;
// 	background: $bg;
// }
// 
// .container {
// 	width: 600px;
// 	margin: 0 auto;
// }

.slide-1 {
	.ae-2 p {
		@extend .hero;
	}
}

.slide-4 {
	&.list {
				
				p {
					@extend .small;
				}

		
		
	}
}

.slide-5 {
	.box-70 {		
		.thumbnail-70 {
			& > * {
				@extend .wide;
			}
		}
		.info-70 {
			p:nth-child(1) {
				@extend .category-70;
				margin-top: 0;
			}
			
			h3:nth:child(2) {
				@extend .big;
				@extend .title-70;
			}
			
			p:nth-child(3) {
				@extend .small;
				@extend .equalElement;
			}
			
			p:nth-child(4) {
				@extend .button;
				@extend .blue;
				@extend .wide;
				@extend .crop;
			}
		}
		
		&:hover {
			.info-70 p:nth-child(4) {
				@extend .button:hover;
				color: #fff !important;
			}	
		}
	}
}















