<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="slides zen smooth animated">

	{% include svg.html %}
	
	{% include navigation.html %}


	<!-- Slide 1 (#36) -->
	<!-- {% include slide1.html %} -->


	<!-- Slide 2 (#33) -->
	<!-- {% include slide2.html %} -->
	

	<!-- Slide 3 (#73) -->
	{% include slide3.html %}
	<!-- <section class="slide fade kenBurns">
		<div class="content">
			<div class="container">
				<div class="wrap">

					<div class="fix-12-12">
						<ul class="flex reverse">
							<li class="col-6-12 left box-73">
								<h1 class="ae-2">Design well</h1>
								<div class="ae-3">
									<p>I recently saw another demonstration of graphic design&rsquo;s ubiquity. Someone had taken a series of photographs of busy streets.</p>
								</div>
								<div class="ae-4">
									<p>In other words, they had removed all the graphic design from these photographs.</p>
								</div>
							</li>
							<li class="col-6-12 left ae-1 fromAbove">
								<img class="shiftImage shiftImageVertical image-73" src="assets/img/iphone-73.png" data-action="zoom" alt="iPhone Image" />
							</li>
						</ul>

						<ul class="grid later fixedSpaces equal center grid-73">
							<li class="col-4-12 ae-5">
								<a href="#" class="cell-73 equalElement">
									<i class="material-icons">important_devices</i>
									<h3>Sync Faster</h3>
									<p class="small">Quickly swipe messages to your archive or trash.</p>
								</a>
							</li>
							<li class="col-4-12 ae-6">
								<a href="#" class="cell-73 equalElement">
									<i class="material-icons">voice_chat</i>
									<h3>Automate</h3>
									<p class="small">Scan entire conversations in a chat-like view.</p>
								</a>
							</li>
							<li class="col-4-12 ae-7">
								<a href="#" class="cell-73 equalElement last">
									<i class="material-icons">switch_camera</i>
									<h3>Best Music</h3>
									<p class="small">Unforgettable feelings through a quality music.</p>
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="background" style="background-image:url(assets/img/img-73.jpg)"></div>
	</section> -->

	<!-- Slide 4 (#92) -->
	<section class="slide fade kenBurns">
		<div class="content">
			<div class="container">
				<div class="wrap">

					<div class="fix-12-12 toCenter">
						<div class="fix-10-12">
							<div class="ae-1 fromTop">
								<p class="hero margin-bottom-1">Testimonials</p>
							</div>
							<h1 class="ae-2 huge fromAbove">Discomfort is a signal of a good concept</h1>
							<a href="#" class="button big button-92 margin-top-4 pink ae-3">Purchase</a>
						</div>
						<div class="hr hr-92 ae-4"></div>
						<ul class="grid fixedSpaces left margin-top-5">
							<li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-5 fromLeft">
								<h3>Inspiration</h3>
								<p class="small">We live in a society where everybody feels guilty.</p>
							</li>
							<li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-6 fromLeft">
								<h3>Creativity</h3>
								<p class="small">You don’t have to be “a creative” to be creative.</p>
							</li>
							<li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-7 fromLeft">
								<h3>Fashion</h3>
								<p class="small">There is no such thing as simple. Simple is hard.</p>
							</li>
							<li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-8 fromLeft">
								<h3>Photography</h3>
								<p class="small">Design makes what was once impossible possible.</p>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="background" style="background-image:url(assets/img/img-92.jpg)"></div>
	</section>

	<!-- Slide 5 (#70) -->
	<section class="slide fade kenBurns">
		<div class="content">
			<div class="container">
				<div class="wrap">

					<div class="fix-12-12">
						<ul class="grid fixedSpaces equal fromCenter">
							<li class="col-4-12">
								<a href="#" class="box-70 ae-1" style="background-color:#BDD6D3;">
									<div class="thumbnail-70">
										<img class="wide" src="assets/img/70-grid-1.png" alt="Image">
									</div>
									<div class="info-70">
										<div class="category-70">Design</div>
										<h3 class="big title-70">Headphones</h3>
										<p class="small equalElement">Art is making something out of nothing and selling&nbsp;it.</p>
										<div class="button pink wide crop">Learn More</div>
									</div>
								</a>
							</li>
							<li class="col-4-12">
								<a href="#" class="box-70 ae-2" style="background-color:#C3CCDD;">
									<div class="thumbnail-70">
										<img class="wide" src="assets/img/70-grid-2.png" alt="Image">
									</div>
									<div class="info-70">
										<div class="category-70">Interface</div>
										<h3 class="big title-70">Apple Watch</h3>
										<p class="small equalElement">Design is the effort to impose a meaningful&nbsp;order.</p>
										<div class="button pink wide crop">Learn More</div>
									</div>
								</a>
							</li>
							<li class="col-4-12">
								<a href="#" class="box-70 ae-3" style="background-color:#D9D5C5;">
									<div class="thumbnail-70">
										<img class="wide" src="assets/img/70-grid-3.png" alt="Image">
									</div>
									<div class="info-70">
										<div class="category-70">Design</div>
										<h3 class="big title-70">Planctonic</h3>
										<p class="small equalElement">It&rsquo;s all fun and games until someone breaks a&nbsp;link.</p>
										<div class="button pink wide crop">Learn More</div>
									</div>
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="background" style="background-image:url(assets/img/img-70.jpg)"></div>
	</section>

	<!-- Panel Bottom #10 -->
	<nav class="panel bottom">
		<div class="sections">
			<div class="left"><a href="#" class="button hollow"><img src="assets/img/appstore.png" width="173" /></a></div>
			<div class="center"><span class="nextSlide"><svg>
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use>
					</svg></span></div>
			<div class="right"><span data-dropdown-id="2" class="button actionButton dropdownTrigger"><svg>
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share"></use>
					</svg></span></div>
		</div>
	</nav>

	<!-- Share Window -->
	<div class="dropdown share bottom right" data-dropdown-id="2" data-text="Take a look at this" data-url="https://designmodo.com" data-pinterest-image="https://designmodo.com/wp-content/uploads/2015/10/Presentation.jpg">
		<div class="title">Share</div>
		<ul>
			<li class="facebook"><svg>
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb-like"></use>
				</svg></li>
			<li class="twitter"><svg>
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
				</svg></li>
			<li class="googlePlus"><svg>
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#googlePlus"></use>
				</svg></li>
			<li class="pinterest"><svg>
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pinterest"></use>
				</svg></li>
			<!-- li class="stumbleupon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stumbleupon"></use></svg></li>
        <li class="linkedin"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></li -->
			<li class="mail" data-subject="Subject" data-body="Body">share by email</li>
		</ul>
	</div>



</body>

</html>