<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="slides zen smooth animated">

	{% include svg.html %}
	
	{% include navigation-dots.html %}
	{% include navigation.html %}
	

	<!-- Slide 1 (#36) -->
	{% include slide1.html %}


	<!-- Slide 2 (#33) -->
	{% include slide2.html %}
	

	<!-- Slide 3 (#73) -->
	{% include slide3.html %}


	<!-- Slide 4 (#92) -->
	{% include slide4.html %}


	<!-- Slide 5 (#70) -->
	{% include slide5.html %}



	{% include panel-bottom.html %}


</body>

</html>