<!doctype html>
<html>
{% include head.html %}
	<body class="career-detail-page slides zen smooth animated">
	
	{% include svg.html %}

{% include navigation.html %}



<!-- Slide 3 (#63) -->
<section class="slide fade kenBurns">
  <div class="content">
	<div class="container">
	  <div class="wrap">
		<div class="fix-9-12">
		  <h1 class="margin-top-3 huge ae-1">{{ page.title }}</h1>
		  <!-- <div class="ae-2"><p>{{ page.description }}</p></div> -->
		  <div class="pad shadow left ae-3 pad-59">
			<div class=" ae-3">
			  {{ content }}
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>

  
  {% for image in site.static_files %}
		{% if image.path contains 'img/job-description/bg' %}
	<div class="background" style="background-image:url({{ site.baseurl }}{{ image.path }})"></div>
		{% endif %}
	{% endfor %}
</section>



<!-- Preloader -->
<div class="loadingIcon"><svg class="loading-icon" id="loading-circle" viewBox="0 0 18 18"><circle class="circle" opacity=".1" stroke="#fff" stroke-width="2" stroke-miterlimit="10" cx="9" cy="9" r="8" fill="none"></circle><circle class="dash" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="1,100" cx="9" cy="9" r="8" fill="none"></circle></svg></div>
					
	</body>
</html>
